<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>图片上传.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>882770671EF37E5A004DC6E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>882770801EF37E5B004DC6E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8827708B1EF37E5B004DC6E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
